body {
    margin: 0;
    overflow: auto;

}

.span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

div a img body html{
	height: 100%;
	width: 100%;
}

.full-screen{
	display: block;
	height: 100%;
	width: 100%;
}

.no1 		{transform:rotate(270deg);}
.no2 		{transform:rotate(0deg);}
.no3 		{transform:rotate(180deg);}
.no4 		{transform:rotate(90deg);}
.no5 		{transform:rotate(180deg);}
.no6 		{transform:rotate(90deg);}
.no7 		{transform:rotate(180deg);}
.no8 		{transform:rotate(90deg);}
.no9 		{transform:rotate(270deg);}
.no10 	{transform:rotate(0deg);}
.no11 	{transform:rotate(180deg);}
.no12 	{transform:rotate(90deg);}

.sprite {
	//display: run-in;
	//height: 17.5%;
	height: 17.5%;
	width: height;
	position: fixed;
}
