body {
    margin: 0;
    overflow: auto;
	height: 100%;
	width: 100%;
}

.span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

.full-screen{
	display: block;
	height: 100%;
	width: 100%;
}
